parameters:
    level: 7
    paths:
        - .
    excludePaths:
        - vendor/*
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#missingType\.return#'
        - '#missingType\.parameter#'
        - '#missingType\.iterableValue#'
        - '#missingType\.property#'
        - '#instanceof\.alwaysTrue#'
        - '#instanceof\.alwaysFalse#'
        - '#booleanOr\.alwaysFalse#'
        - '#booleanNot\.alwaysFalse#'
